# This is the default configuration file for bde_verify used at Bloomberg LP.
namespace BloombergLP

# This string in a file indicates that the file is part of the enterprise.
set enterprise Bloomberg

# Maximum number of lines and statements in an inline function.
set max_inline_lines 20

# Don't warn about scope of global definitions in main file.
set main_namespace_check off

# Don't warn about scope of global definitions in these packages.
set global_packages bslmf bslstl

# Don't warn about global definitions in these namespaces.
set standard_namespaces bsl std BloombergLP::bslstl native_std

# Don't warn about these global names at all.
set global_names hashAppend

# Allow imperfect banner centering.
set banner_slack 5

# Allowed number of non-noise words between 'specified' and parameter in
# function contract.
set word_slack 3

# Allowed number of available positions at end of comment line which will not
# draw a "can wrap" warning from the next line.
set wrap_slack 1

# List of words which may appear unquoted in function contract even when they
# are parameter names.
set ok_unquoted                                                               \
    allocator                                                                 \
    from                                                                      \
    key                                                                       \
    level                                                                     \
    to                                                                        \
    value                                                                     \

# If a word appears at least this many times, assume it's spelled correctly.
set spelled_ok_count 3

# These words are to be considered spelled correctly
set dictionary                                                                \
    accessor{,s}                                                              \
    adl                                                                       \
    bde                                                                       \
    bdewrap                                                                   \
    bitwise                                                                   \
    bloomberg                                                                 \
    BLP                                                                       \
    bsl{,m{a,f}}                                                              \
    const{,ness}                                                              \
    deallocate{,d,s}                                                          \
    dereference{,d,s}                                                         \
    destructor{,s}                                                            \
    drqs                                                                      \
    enum                                                                      \
    enqueu{e{,d},ing}                                                         \
    filename                                                                  \
    functor{,s}                                                               \
    gcc                                                                       \
    {g,u}uid{,s}                                                              \
    indices                                                                   \
    initiali{s,z}er{,s}                                                       \
    inlin{e,ing}                                                              \
    instantiable                                                              \
    {i,io,o}stream{,s}                                                        \
    leveli{s,z}{ation,e{,d}}                                                  \
    {l,r}hs                                                                   \
    lookup                                                                    \
    {l,{,p}r}value{,s}                                                        \
    merchantability                                                           \
    metafunction{,s}                                                          \
    multi                                                                     \
    namespace{,s}                                                             \
    noninfringement                                                           \
    parameteri{s,z}ed                                                         \
    portably                                                                  \
    pragma                                                                    \
    proleptic                                                                 \
    resiz{e{,d,s},ing}                                                        \
    runtime{,s}                                                               \
    sfinae                                                                    \
    stl                                                                       \
    struct                                                                    \
    sublicense                                                                \
    subrange{,s}                                                              \
    subsequence{,s}                                                           \
    templati{s,z}ed                                                           \
    typedef{,s}                                                               \
    unary                                                                     \
    unticked                                                                  \
    utc                                                                       \
    variadic                                                                  \
    vtable{,s}                                                                \
    xlc                                                                       \

# These are specialized checks that are not problems for general code.
check array-initialization off
check boolcomparison off
check constant-return off
#check transitive-includes off

check bsl-overrides-std off
set bslovrstd_extcpp off
set bslovrstd_guard off

# Too noisy to leave on by default.
#check indentation off
#check spell-check off
#suppress RV01 *

## ----------------------------------------------------------------------------
## Copyright (C) 2014 Bloomberg Finance L.P.
##
## Permission is hereby granted, free of charge, to any person obtaining a copy
## of this software and associated documentation files (the "Software"), to
## deal in the Software without restriction, including without limitation the
## rights to use, copy, modify, merge, publish, distribute, sublicense, and/or
## sell copies of the Software, and to permit persons to whom the Software is
## furnished to do so, subject to the following conditions:
##
## The above copyright notice and this permission notice shall be included in
## all copies or substantial portions of the Software.
##
## THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
## IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
## FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.  IN NO EVENT SHALL THE
## AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
## LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
## FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
## IN THE SOFTWARE.
## ----------------------------- END-OF-FILE ----------------------------------
