# bde_bldmgr-bus.config

#-----------------------------------------------------------------------

use vars qw(
        $view $path %configured_builds @configured_ufids @default_units
        $enableLogArchive $logArchiveBase
        $enableHtmlOutput $htmlOutputBase $htmlOutputBaseURL
        $resultsBase
           );

$view="no-default-view" unless defined $view;
$path="/view/$view" unless defined $path;

#-----------------------------------------------------------------------

$enableLogArchive   = 1;
$logArchiveBase     = "/home/busbuild/public_html/busbuild/failures/";

$enableHtmlOutput   = 1;
$htmlOutputBase     = "/home/busbuild/public_html/busbuild/fail/";
# no hostname, so all links are relative and sundev2-3-4 all work
# as http host
$htmlOutputBaseURL  = "fail/";

$resultsBase        = "/home/busbuild/public_html/busbuild/results/";

#-----------------------------------------------------------------------

@default_units = qw[
    bus z_bus
];

@configured_ufids = qw[
    dbg_exc_mt opt_dbg_exc_mt
];

#-----------------------------------------------------------------------

my $extraTargets="";

#my $dayOfWeek=(localtime)[6];

#if($dayOfWeek==0 || $dayOfWeek==6) {
#    $extraTargets=" dbg_exc_mt_safe";
#}
#-----------------------------------------------------------------------


%configured_builds = (
  default          => {
      build_desc   => "**set platform name**",
      rmtbin       => "$path/bbcm/infrastructure/tools/bin",
      slave_script => "[rmtbin]/bde_bldmgr.slave.pl --nice 10",
      targets      => "@configured_ufids",
      srcdir       => "/view/$view/bbcm/infrastructure",
      rmtroot      => '[srcdir]',
      serial       => "N",
      build        => "N",
      jobs         => "4",
      rsh_cmd      => "ssh -2 -n -o PreferredAuthentications=publickey -o BatchMode=yes "
  },

  # Solaris       
  '010_s12_1' => {
      build_desc   => "Solaris 10/sparc/Studio 12, bldfarm",
      build        => "Y",
      hosts        => "nysbldo1 nysbldo2 nysbldo3 nysbldo4",
      targets      => "dbg_exc_mt opt_dbg_exc_mt opt_exc_mt"
  },

  '020_s12_2' => {
      build_desc   => "Solaris 10/sparc/Studio 12, bldfarm",
      build        => "Y",
      hosts        => "nyfbldo1 nyfbldo2 nysbldo3 nysbldo4",
      targets      => "dbg_exc_mt_64 opt_dbg_exc_mt_64 opt_exc_mt_64"
  },

  '050_s12_3' => {
      build_desc   => "Solaris 10/sparc/Studio 12, sundev32",
      build        => "Y",
      slave_script => "[rmtbin]/bde_bldmgr.slave.pl",
      hosts        => "sundev32",
      targets      => "dbg_exc_mt_pure",
      jobs         => "1"  
  },

  '060_s12_4' => {
      build_desc   => "Solaris 10/sparc/Studio 8, sundev30",
      build        => "N",
      hosts        => "sundev30",
      targets      => "dbg_exc_mt_purecov",
      buildflags   => "-w=/view/t812083-bdeprod-purecov/bbcm/infrastructure,--purecov",
      jobs         => "1"  
  },

  '080_i10_1' => {
      build_desc   => "AIX/PowerPC/xlC10",
      build        => "Y",
      hosts        => "njibldo2 nyibldo2",
      targets      => "dbg_exc_mt opt_dbg_exc_mt opt_exc_mt",
      compiler     => "xlc-10.1"
  },

  '090_i10_2' => {
      build_desc   => "AIX/PowerPC/xlC10",
      build        => "Y",
      hosts        => "nyibldo2 njibldo2",
      targets      => "dbg_exc_mt_64 opt_dbg_exc_mt_64 opt_exc_mt_64",
      compiler     => "xlc-10.1"
  },

  # Linux
  '100_lnxamd_1' => {
      build_desc   => "Linux/amd/gcc 3.4.3, linxdev6(4)",
      build        => "Y",
      # DRQS 14887231: no need to nice processes for lnx yet
      slave_script => "[rmtbin]/bde_bldmgr.slave.pl",
      hosts        => "nylxdev1",
      targets      => "dbg_exc_mt_64 dbg_exc_mt",
      serial       => "Y",
      jobs         => "1"  
  },

  '110_lnxamd_2' => {
      build_desc   => "Linux/amd/gcc 3.4.3, linxdev7(5)",
      build        => "Y",
      # DRQS 14887231: no need to nice processes for lnx yet
      slave_script => "[rmtbin]/bde_bldmgr.slave.pl",
      hosts        => "nylxdev2",
      targets      => "opt_dbg_exc_mt_64 opt_dbg_exc_mt",
      serial       => "Y",
      jobs         => "1"  
  },

  '120_lnxamd_2' => {
      build_desc   => "Linux/amd/gcc 3.4.3, linxdev3(2)",
      build        => "Y",
      # DRQS 14887231: no need to nice processes for lnx yet
      slave_script => "[rmtbin]/bde_bldmgr.slave.pl",
      hosts        => "njlxdev1",
      targets      => "opt_exc_mt_64 opt_exc_mt",
      serial       => "Y",
      jobs         => "1"  
  },

  '140_ia64_3' => {
      build_desc   => "HP_UX , hp2",
      build        => "Y",
      slave_script => "[rmtbin]/bde_bldmgr.slave.pl",
      hosts        => "hp2",
      targets      => "dbg_exc_mt",
      serial       => "Y",
      jobs         => "1" 
  },

);
  
1;

#-----------------------------------------------------------------------
