Source: bde-tools
Section: unknown
Priority: extra
Maintainer: Oleg Subbotin <osubbotin@bloomberg.net>
Build-Depends: build-base,python,cmake,make,ninja
Standards-Version: 3.8.4

Package: bde-tools
Architecture: all
Depends: python3.8,cmake,make,ninja
Description: BDE Build Tools
 Tools to build BDE-style repositories, including the BDE libraries.

Package: bde-gdb-printers
Architecture: all
Description: GDB Pretty printers for Bloomberg components
