Source: bde-tools
Section: unknown
Priority: extra
Maintainer: Oleg Subbotin <osubbotin@bloomberg.net>
Build-Depends: 
    bbtoolchain-cmake-debhelper,
    build-base,
    cmake,
    make,
    ninja,
    python3.8
Standards-Version: 3.8.4

Package: bde-tools
Architecture: all
Depends: 
    cmake,
    coreutils,
    make,
    ninja,
    perl,
    python3.8
Description: BDE Build Tools
 Tools to build BDE-style repositories.

Package: bde-gdb-printers
Architecture: all
Description: GDB Pretty printers for Bloomberg components

Package: bbs-cmake-module
Architecture: all
Depends:
    cmake-gen-bde-metadata,
    python3.8
Description: BdeBuildSystem CMake module
 CMake module to process metadata in BDE-style repositories.
