#!/usr/bin/make -f
# -*- makefile -*-
VERSION=$(shell dpkg-parsechangelog | grep '^Version:' | cut -c 10-)

clean:
	rm -rf debian/tmp
	rm -f debian/build-stamp
	rm -f debian/binary-stamp
	rm -f debian/files

debian/build-stamp:
	touch debian/build-stamp
	mkdir -p debian/tmp/bbshr/bde/bde-tools
	cp -r bin/ doc/ etc/ expected-test-output/ lib/ scripts/ src/ debian/tmp/bbshr/bde/bde-tools

debian/binary-stamp: debian/build-stamp
	touch debian/binary-stamp
	mkdir -p debian/tmp/DEBIAN
	dpkg-gencontrol
	dpkg-deb -b debian/tmp ../bde-tools_$(VERSION)_all.deb

build: build-arch build-indep

build-indep: debian/build-stamp

build-arch:

binary: binary-arch binary-indep

binary-indep: debian/binary-stamp

binary-arch:
