#!/usr/bin/make -f
# -*- makefile -*-

include /bbsrc/build-base/build-base.mk

clean:
	rm -rf debian/tmp
	rm -f debian/build-stamp
	rm -f debian/binary-stamp
	rm -f debian/files

debian/build-stamp:
	mkdir -p debian/tmp/$(PREFIX)/etc/bde-tools/
	cp etc/* debian/tmp/$(PREFIX)/etc/bde-tools/
	mkdir -p debian/tmp/$(PREFIX)/libexec/bde-tools/
	cp bin/bde_setwafenv.py debian/tmp/$(PREFIX)/libexc/bde-tools/
	touch $@

debian/binary-stamp: debian/build-stamp
	mkdir -p debian/tmp/DEBIAN
	dpkg-gencontrol
	dpkg-deb -b debian/tmp ../
	touch $@

build: build-arch build-indep

build-indep: debian/build-stamp

build-arch:

binary: binary-arch binary-indep

binary-indep: debian/binary-stamp

binary-arch:
